body {
  font-family: 'Walter Turncoat', cursive;
  background-color: floralwhite;
}

h1 {
  text-align: center;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  float: right;
  padding: 3%;
  color: red;
}

.form {
  text-align: center;
  margin-top: 3%;
}

.content {
  margin-top: 5%;
}

th {
  background: #0078e7;
  color: white;
}
